In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [101]:
from google.colab import files 
uploaded=files.upload()

Saving bank-full.csv.crdownload.csv to bank-full.csv.crdownload (2).csv

In [102]:
df=pd.read_csv("bank-full.csv.crdownload.csv",';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [103]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [104]:
df.shape

(45211, 17)

In [105]:
df['job'].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [106]:
df['marital'].value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [107]:
df['education'].value_counts()

secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64

In [108]:
df['default'].value_counts()

no     44396
yes      815
Name: default, dtype: int64

In [109]:
df['contact'].value_counts()

cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64

In [110]:
df['day'].value_counts()

20    2752
18    2308
21    2026
17    1939
6     1932
5     1910
14    1848
8     1842
28    1830
7     1817
19    1757
29    1745
15    1703
12    1603
13    1585
30    1566
9     1561
11    1479
4     1445
16    1415
2     1293
27    1121
3     1079
26    1035
23     939
22     905
25     840
31     643
10     524
24     447
1      322
Name: day, dtype: int64

In [111]:
df['campaign'].value_counts()

1     17544
2     12505
3      5521
4      3522
5      1764
6      1291
7       735
8       540
9       327
10      266
11      201
12      155
13      133
14       93
15       84
16       79
17       69
18       51
19       44
20       43
21       35
22       23
25       22
23       22
24       20
29       16
28       16
26       13
31       12
27       10
32        9
30        8
33        6
34        5
36        4
35        4
43        3
38        3
37        2
50        2
41        2
46        1
58        1
55        1
63        1
51        1
39        1
44        1
Name: campaign, dtype: int64

In [112]:
df['pdays'].value_counts()

-1      36954
 182      167
 92       147
 91       126
 183      126
        ...
 449        1
 452        1
 648        1
 595        1
 530        1
Name: pdays, Length: 559, dtype: int64

In [113]:
df['previous'].value_counts()

0      36954
1       2772
2       2106
3       1142
4        714
5        459
6        277
7        205
8        129
9         92
10        67
11        65
12        44
13        38
15        20
14        19
17        15
16        13
19        11
20         8
23         8
18         6
22         6
24         5
27         5
21         4
29         4
25         4
30         3
38         2
37         2
26         2
28         2
51         1
275        1
58         1
32         1
40         1
55         1
35         1
41         1
Name: previous, dtype: int64

In [114]:
df['poutcome'].value_counts()

unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64

In [115]:
df['balance'].value_counts()

 0        3514
 1         195
 2         156
 4         139
 3         134
          ...
-381         1
 4617        1
 20584       1
 4358        1
 16353       1
Name: balance, Length: 7168, dtype: int64

In [116]:
df['balance'].describe()

count     45211.000000
mean       1362.272058
std        3044.765829
min       -8019.000000
25%          72.000000
50%         448.000000
75%        1428.000000
max      102127.000000
Name: balance, dtype: float64

In [117]:
df['balance']=pd.cut(df['balance'],bins=[ -8019,0,10000,20000,30000,40000,50000,102127],labels=[0,1,2,3,4,5,6])
df['balance']

0        1
1        1
2        1
3        1
4        1
        ..
45206    1
45207    1
45208    1
45209    1
45210    1
Name: balance, Length: 45211, dtype: category
Categories (7, int64): [0 < 1 < 2 < 3 < 4 < 5 < 6]

In [118]:
df['balance'].value_counts()

1    37102
0     7279
2      636
3      141
4       24
6       18
5       10
Name: balance, dtype: int64

In [119]:
df['duration'].describe()

count    45211.000000
mean       258.163080
std        257.527812
min          0.000000
25%        103.000000
50%        180.000000
75%        319.000000
max       4918.000000
Name: duration, dtype: float64

In [120]:
df['duration']=pd.cut(df['duration'],bins=[0,1000,2000,3000,4000,5000],labels=[0,1,2,3,4])
df['duration']

0        0
1        0
2        0
3        0
4        0
        ..
45206    0
45207    0
45208    1
45209    0
45210    0
Name: duration, Length: 45211, dtype: category
Categories (5, int64): [0 < 1 < 2 < 3 < 4]

In [121]:
df['duration'].value_counts()

0    44150
1      999
2       45
3       13
4        1
Name: duration, dtype: int64

In [122]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      1
housing      0
loan         0
contact      0
day          0
month        0
duration     3
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [123]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,1,yes,no,unknown,5,may,0,1,-1,0,unknown,no
1,44,technician,single,secondary,no,1,yes,no,unknown,5,may,0,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,1,yes,yes,unknown,5,may,0,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1,yes,no,unknown,5,may,0,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,0,1,-1,0,unknown,no

In [124]:
df=df.drop(columns=['campaign','pdays','previous','poutcome','contact'],axis=1)

In [125]:

df=df[['y','age','job','marital','education','default','balance','housing','loan','day','month','duration']]

In [126]:
bank=pd.get_dummies(df,columns=['job','marital','education','default','balance','housing','loan','day','month','duration'])

In [127]:
label_encoder = preprocessing.LabelEncoder()
bank['y']=label_encoder.fit_transform(bank['y'])

In [128]:
bank

,y,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,...,month_mar,month_may,month_nov,month_oct,month_sep,duration_0,duration_1,duration_2,duration_3,duration_4
0,0,58,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,0,44,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,0,33,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,0,47,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,0,33,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,1,51,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
45207,1,71,0,0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
45208,1,72,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0
45209,0,57,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
45210,0,37,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [129]:
X=bank.iloc[:,1:]
Y=bank.iloc[:,0]

In [130]:
X

,age,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,...,month_mar,month_may,month_nov,month_oct,month_sep,duration_0,duration_1,duration_2,duration_3,duration_4
0,58,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,44,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,33,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,47,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,33,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
45207,71,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
45208,72,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
45209,57,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
45210,37,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [131]:
Y

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [132]:
Y.value_counts()

0    39922
1     5289
Name: y, dtype: int64

## Model Building

In [133]:
model=LogisticRegression()
model.fit(X,Y)

LogisticRegression()

In [134]:
model.intercept_

array([-0.12110649])

In [135]:
model.coef_

array([[ 0.00158   ,  0.086106  , -0.19377962, -0.29659272, -0.37647247,
        -0.03343466,  0.4635223 , -0.16018513, -0.07732953,  0.51865466,
        -0.03876014,  0.12872869, -0.13761779, -0.02043626, -0.19456585,
         0.0978417 , -0.27047453, -0.02160207,  0.20684787, -0.03193168,
        -0.00265332, -0.11450709, -0.3577847 ,  0.07772972,  0.17133725,
         0.00492795, -0.01200943, -0.01510242,  0.01513655,  0.24582401,
        -0.36298441,  0.17952799, -0.2966884 ,  0.26819027, -0.04548795,
         0.1407339 ,  0.22623142, -0.11677247, -0.22991577, -0.22941374,
        -0.00707619, -0.09545707,  0.60071865,  0.11497807,  0.45402936,
         0.5839758 ,  0.18194644,  0.40088372, -0.0629963 , -0.59901632,
        -0.07993994, -0.67581468, -0.79542972, -0.19116762,  0.23003546,
         0.20107942,  0.05680955,  0.32111961,  0.03328259,  0.19230392,
        -0.39312999, -0.53183727,  0.22830209, -0.29832563,  0.29899624,
        -0.86754501,  0.73140269, -0.29300179, -0.66382427, -0.79009805,
        -0.62965574,  1.31104761, -0.98794944, -0.37615711,  1.05200748,
         1.09761699, -1.57097015,  1.28759972,  0.15108907,  0.03428043,
        -0.00739036]])

In [136]:
Y_pred=model.predict(X)

In [137]:
Y_pred_df=pd.DataFrame({"Actaual_Y":Y,"Predicted_Y":Y_pred})

In [138]:
Y_pred_df

       Actaual_Y  Predicted_Y
0              0            0
1              0            0
2              0            0
3              0            0
4              0            0
...          ...          ...
45206          1            0
45207          1            0
45208          1            1
45209          0            0
45210          0            0

[45211 rows x 2 columns]

In [143]:
confusion_matrix = confusion_matrix(Y,Y_pred)

TypeError: ignored

In [142]:
confusion_matrix

array([[39235,   683],
       [ 4477,   812]])

In [141]:
accuracy_score(Y,Y_pred)

0.8856694167348654

In [144]:
print(classification_report(Y,Y_pred))

              precision    recall  f1-score   support

           0       0.90      0.98      0.94     39922
           1       0.54      0.16      0.25      5289

    accuracy                           0.89     45211
   macro avg       0.72      0.57      0.59     45211
weighted avg       0.86      0.89      0.86     45211